/* header gradient */
header {
  background-image: linear-gradient(to right top, #000099, #0521b2, #0739cc, #054fe5, #0066ff);
  color: white;
}

/* search history divider */
form {
  border-bottom: 2px gray solid;
}

/* Add search box shadow */
